.header{
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    padding: 10px 0px;
    font-family: 'Gill Sans';
  }

  .card-deck-container {
   
   position: relative;
    border-radius: 2px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    background: linear-gradient(to top,#d0d1d7, #dadbdf, #f4f5f9);
    justify-content: center;
  }

  .inner-card{
   height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

 
.card-item {     
  margin: 20px 50px ;
  width: fit-content;
  padding: 10px;
  justify-content: center;
  background: linear-gradient(to top,#ccd1ed, #bfc8ea, #aebbf1);
  align-items: center;
}

  